[MASTER]
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=
    import-error,
    no-name-in-module,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    unused-import,
    unused-variable,
    unused-argument,
    redefined-outer-name,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    line-too-long,
    invalid-name,
    broad-except,
    attribute-defined-outside-init

[FORMAT]
max-line-length=120

[VARIABLES]
ignored-modules=google.generativeai

[IMPORTS]
known-local-folder=services,routes,scripts,debug,tests